html{

  background-color: #7765E3;
  font-family:Verdana,sans-serif;
  background-image: url('background7.jpg');
  background-position:top;
  background-size: cover;
  opacity:0.9;
}

header{
  position:top;
}

.logoContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 3vh;
}

.title {
  width: 25vh;
  z-index: -1;
}

.appLogo {
  position: absolute;
  height: 25vh;
  top: 0;
  background-color: white;
  border-radius: 50%;
}

.focus {
  margin-top: 6vh;
}

h1{
  box-shadow: 0px 10px 30px #000;
  text-align: center;
  letter-spacing:2vw;
  color:#CDAF95;
  text-transform:lowercase;
  background-color:#000;
  margin:auto 0;
}

header p{
  font-size:12px;
  color:#868686;
  background-color:#000;
  padding: 0;
  margin:0;
}

h6{
  display:none;
}

audio{
  display:none;
}

main p{
  color:#CDBE70;
  text-shadow:1px 1px #ff0000;
  text-align: center;
}

footer{
  font-size:12px;
  text-align: center;
  color:#CDAF95;
  background-color:#363636;
}

.disclaimer{
  color:#CDBE70;
  padding-bottom:.5vw;
}

.whatIsKoan{
  cursor:pointer;
  color:#fff;
}

.whatIsKoan:hover{
  color:red;
}


/* focus display styling for circle and koans and quotes */

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.zen{
  box-sizing:border-box;
  overflow-y:scroll;
  border-radius:50%;
  width: 68vmin;
  height:68vmin;
  display:flex;
  flex-wrap:wrap;
  align-items:flex-start;
  background-image:linear-gradient(to top, red, yellow);
  opacity:0.9;
  box-shadow: 0px 10px 20px #000;
  padding:1vw;
  margin:1vw;
}

.zenDisplay{
  font:verdana;
  text-shadow:1px 1px #ff0000;
  text-align:justify;
  color:#000;
  font-size:19px;
  padding:4em;
}

.zenDisplayKoanTitle{
  text-align: center;
  padding-bottom: 1em;
  padding-top: 0;
  text-decoration: underline;
}

.zenDisplayKoanSource{
  padding-top: 1em;
}

.zenDisplayQuoteText{
  padding-bottom: 1em;
  font-size:2vw;
  text-align: center;
}

.zenDisplayQuoteAuthor{
  text-align: right;
}

/* inpust section styling */

select{
  width:12vw;
  padding:1vw;
  color:#363636;
  text-shadow:1px 1px #080708;
}

.inputsSection{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.focusPoint{
  padding:1vw;
  color:#fff;
  text-shadow:2px 2px #363636;
}

.durationControl{
  color:black;
  border-radius:1%;
  width:9vw;
}

.durationInput{
  color:#fff;
  text-shadow:2px 2px #363636;
  padding-right:3vw;
  padding-left: 3vw;
}

.focusPoint{
  color:#fff;
  text-shadow:2px 2px #363636;
  padding-left:3vw;
  padding-right:3vw;
  margin-left: 30vw;
}




/*button styling */
.clear, .start, .set, .submit{
  height:2.5vw;
  font-size: 1vw;
  color: #fff;
  background-color: #000;
  border-radius: 20%;
  box-shadow: 0px 10px 20px #000;
}

.clear:hover, .start:hover, .set:hover, .submit:hover{
  color:#000;
  background-color: #fff;
  text-shadow: 0px 2px 2px #ff0000;
}

.whenEnds {
  margin: 0;
}



/* timer display styling */

#timer{
  display: fixed;
  padding: 1vh;
  font-size:1vw;
  margin: 0;
  color:#fff;
  text-align:center;
  opacity: 0.45;
  font:2vw;
  width: 25vw;
  background-color: red;
}

.countdownBox {
  display: flex;
  justify-content: center;
  margin: 0;
}



/*# sourceMappingURL=style.css.map */
