html{

  background-color: #7765E3;
  font-family:Verdana, sans-serif;
  background-image: url('background7.jpg');
  background-position:top;
  background-repeat: no-repeat;
  opacity:0.9;
}

header{
  font-weight: 200;
  margin:0px;
  color:#fff;
  background-color: #080708;
  box-shadow: 0px 10px 20px #000;
  background-size: 40%;
  background-repeat: no-repeat;
  text-align: center;
  margin:0;
  padding:0;
}
/*.bigContainer{
  background-image: url('background2.jpg');
  background-size:90%;
  background-repeat:no-repeat;
  left: 200;
}*/

h1{
  text-align:center;
}

h6{
  display:none;
}

audio{
  display:none;
}

.inputsSection{
  text-align: center;
  padding:1em;
  box-shadow: 0px 10px 20px #363636;
  background-size: 60%;
  background-color: ##7765E3;

}

.durationInput{
  padding:10px;
  font:25px;
  padding:1em;
  color:#fff;
  text-shadow:2px 2px #363636;
}

.durationControl{
  color:black;
}

.submit{
  color:black;
}

.focusPoint{
  padding:1em;
  color:#fff;
  text-shadow:2px 2px #363636;
}

footer{
  text-align: center;
  color:#fff;
  padding:1em;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.whenEnd{
  text-align: center;
  padding:0;
}

.whatIsKoan{
  padding:1em;
}

.whatIsKoan:hover{
  color:#f0a806;
}

.start{
  border-radius:20%;
}

.start:hover{
  text-shadow:2px 2px #363636;
}

.zen{
  box-sizing:border-box;
  border-radius:50%;
  width: 50vw;
  height:50vw;
  display:flex;
  flex-wrap:wrap;
  background-image:linear-gradient(to top, red, yellow);
  opacity:0.97;
  box-shadow: 0px 10px 20px #000;
  padding:5em;
}

.bigContainer{
  opacity:0.8;
  box-shadow: 0px 10px 20px #000;
}

.durationInputCaption{
  padding:1px;
}

.focusPointCaption{
  padding:1px;
}

/* focus display styling for circle and koans and quotes */

.zen{
  box-sizing:border-box;
  overflow-y:scroll;
  border-radius:50%;
  width: 68vmin;
  height:68vmin;
  display:flex;
  flex-wrap:wrap;
  align-items:flex-start;
  background-image:linear-gradient(to top, red, yellow);
  opacity:0.9;
  box-shadow: 0px 10px 20px #000;
  padding:1.5vw;
}

.zenDisplay{
  font:verdana;
  text-shadow:1px 1px #ff0000;
  text-align:justify;
  color:#000;
  font-size:19px;
  padding:4em;
}

.zenDisplayKoanTitle{
  text-align: center;
  padding-bottom: 1em;
  padding-top: 0;
  text-decoration: underline;
}

.zenDisplayKoanSource{
  padding-top: 1em;
}

.zenDisplayQuoteText{
  padding-bottom: 1em;
  font-size:4vw;
  text-align: center;
}

.zenDisplayQuoteAuthor{
  text-align: right;
}

/* timer display styling */

tim

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .zen {
    overflow-y:scroll;
    border-radius:50%;
    width: 100vmin;
    height: 100vmin;
    background-image: linear-gradient(to top, red, yellow);
    padding:15vw;
  }

  .zenDisplay{
    font-size:10px;
    text-shadow:5px 5px #ff0000;
    color:#000;
    text-align:center;
    color:black;
    height:100vmax;
    width:100vmax;
    text-shadow:2px 2px #ff0000;
    font-size:38px;
    padding:1em;
  }

}


/*# sourceMappingURL=style.css.map */
